* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #000000, #0a0a0a, #111111);
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* HEADER */
header {
  padding: 20px 50px;
  border-bottom: 2px solid orange;
  background: rgba(0,0,0,0.95);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 2.4rem;
  color: orange;
  text-shadow:
    0 0 10px orange,
    0 0 20px red,
    0 0 30px blue;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00ff88;
  text-shadow: 0 0 15px #00ff88;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: radial-gradient(circle, #111 0%, #000 80%);
}

.tv-logo {
  width: 340px;
  border-radius: 20px;
  animation: tvGlow 2s infinite alternate;
}

@keyframes tvGlow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 20px orange);
  }

  25% {
    filter: drop-shadow(0 0 30px blue);
  }

  50% {
    filter: drop-shadow(0 0 35px red);
  }

  75% {
    filter: drop-shadow(0 0 30px lime);
  }

  100% {
    transform: scale(1.04);
    filter: drop-shadow(0 0 40px orange);
  }
}

.hero h2 {
  margin-top: 30px;
  font-size: 3.5rem;
  text-shadow: 0 0 20px orange;
}

.hero p {
  margin: 20px 0;
  font-size: 1.3rem;
  color: #ccc;
}

.btn {
  display: inline-block;
  background: linear-gradient(45deg, orange, red, blue, lime);
  color: white;
  padding: 15px 35px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 20px orange;
}

/* PRODUCTS */
.products {
  padding: 90px 40px;
  text-align: center;
}

.products h2 {
  font-size: 2.8rem;
  color: orange;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background: #111;
  border: 2px solid;
  border-image: linear-gradient(45deg, orange, blue, red, lime) 1;
  padding: 35px;
  width: 260px;
  border-radius: 20px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 0 25px orange;
}

/* ABOUT */
.about {
  text-align: center;
  padding: 80px 20px;
}

.about h2 {
  color: blue;
  margin-bottom: 20px;
}

/* COMING SOON */
.coming-soon {
  text-align: center;
  padding: 80px 20px;
  background: #050505;
}

.coming-soon h2 {
  color: lime;
  font-size: 3rem;
  text-shadow: 0 0 20px lime;
}

.coming-soon p {
  margin-top: 20px;
  color: #ccc;
  font-size: 1.2rem;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  border-top: 2px solid orange;
  color: #aaa;
}